@model App.ViewModels.RequisitionForm

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row
    {
        margin-top:10px;
        margin-bottom:10px;
    }
</style>

<h1>New Requisition</h1>
<br />
<p class="text-danger">All fields are required*</p>
<br />
@using (Html.BeginForm("Add", "Requisition", FormMethod.Post))
{
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Period: </label>
                </div>
                <div class="col-md-8">
                    <div class="selectContainer">
                        <select style="width:100%;" name="Period">
                            @foreach (var item in Model.Periods)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Priority: </label>
                </div>
                <div class="col-md-8">
                    <div class="selectContainer">
                        <select style="width:100%;" name="Priority">
                            @foreach (var item in Model.Priorities)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Requisition Date: </label>
                </div>
                <div class="col-md-8">
                    <input type="date" style="width:100%;" value="@DateTime.Now.ToShortDateString()" name="RequisitionDate" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Department: </label>
                </div>
                <div class="col-md-8">
                    <div class="selectContainer">
                        <select style="width:100%;" name="Department">
                            @foreach (var item in Model.Departments)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Id) - @Html.DisplayFor(modelItem => item.Name)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Delivery Date: </label>
                </div>
                <div class="col-md-8">
                    <input type="date" style="width:100%;" value="@DateTime.Now.ToShortDateString()" name="DeliveryDate" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Supplier: </label>
                </div>
                <div class="col-md-8">
                    <div class="selectContainer">
                        <select style="width:100%;" name="Supplier">
                            @foreach (var item in Model.Suppliers)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Description:</label>
                </div>
                <div class="col-md-8">
                    @Html.TextArea("Description", htmlAttributes: new { @style = "width:100%; height:80px;" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Commentaries:</label>
                </div>
                <div class="col-md-8">
                    @Html.TextArea("Commentaries", htmlAttributes: new { @style = "width:100%; height:80px;" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 pull-right">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
            &nbsp;&nbsp;
            <a href="@Url.Action("All", "Requisition")" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
        </div>
    </div>
}