@model App.ViewModels.FormularioRequisicion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int Numero = 0;
    decimal SubTotal = 0;
    decimal Total = 0;
}

<h1></h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 pull-left">
                <h1 class="panel-title">Requisicion</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div style="margin-top:40px; margin-bottom:40px;" class="container">
                    <label>AQUI VA EL LOGO</label>
                </div>
            </div>
            <div class="col-md-9">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Creado por: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().CreadoPor</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Fecha de Creacion: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().Creado.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Departamento: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().Departamento.Nombre</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Actualizado por: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().ActualizadoPor</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Fecha de Actualizacion: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().Actualizado.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <label>No. Requisicion: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().Id</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Proveedor: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().Proveedor.Nombre</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Fecha de Requisicion: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().FechaRequisicion.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Estatus: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().Estatus.Nombre</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Periodo: </label>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Requsiciones.FirstOrDefault().Periodo.Nombre</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table style="margin-top: 30px; margin-bottom: 50px;" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            No. Linea
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio Venta
                        </th>
                        <th>
                            Interes
                        </th>
                        <th>
                            Subtotal
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lineas)
                    {
                        Numero++;
                        SubTotal = item.Cantidad * item.PrecioVenta;
                        Total = SubTotal + (SubTotal * item.Requisicion.Interes);

                        <tr>
                            <td>
                                @Numero
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                $ @Html.DisplayFor(modelItem => item.PrecioVenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requisicion.Interes)%
                            </td>
                            <td>
                                $ @Math.Round(SubTotal, 2)
                            </td>
                            <td>
                                $ @Math.Round(Total, 2)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-3">
                    <div class="row">
                        <label>Nombre</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <label>Firma</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label>Nombre</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <label>Firma</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label>Nombre</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <label>Firma</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label>Nombre</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <label>Firma</label>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Edit", "Requisition", new { id = Model.Requsiciones.FirstOrDefault().Id})" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                &nbsp;&nbsp;
                <a href="#Delete" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDeleteModal"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
            </div>
        </div>
    </div>
</div>

<div id="ConfirmDeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="transform:translate(0px,50px);">
            @using (Html.BeginForm("Delete", "Requisition", FormMethod.Post))
            {
                @Html.Hidden("Id", Model.Requsiciones.FirstOrDefault().Id)
                @Html.Hidden("PeriodoId", Model.Requsiciones.FirstOrDefault().PeriodoId)
                @Html.Hidden("DepartamentoId", Model.Requsiciones.FirstOrDefault().DepartamentoId)
                @Html.Hidden("ProveedorId", Model.Requsiciones.FirstOrDefault().ProveedorId)
                @Html.Hidden("MonedaId", Model.Requsiciones.FirstOrDefault().MonedaId)
                @Html.Hidden("EstatusId", Model.Requsiciones.FirstOrDefault().EstatusId)
                @Html.Hidden("TotalLineas", Model.Requsiciones.FirstOrDefault().TotalLineas)
                @Html.Hidden("SubTotal", Model.Requsiciones.FirstOrDefault().SubTotal)
                @Html.Hidden("Interes", Model.Requsiciones.FirstOrDefault().Interes)
                @Html.Hidden("GranTotal", Model.Requsiciones.FirstOrDefault().GranTotal)
                @Html.Hidden("CreadoPor", Model.Requsiciones.FirstOrDefault().CreadoPor)
                @Html.Hidden("Creado", Model.Requsiciones.FirstOrDefault().Creado)
                @Html.Hidden("ActualizadoPor", Model.Requsiciones.FirstOrDefault().ActualizadoPor)
                @Html.Hidden("Actualizado", Model.Requsiciones.FirstOrDefault().Actualizado)
                @Html.Hidden("Descripcion", Model.Requsiciones.FirstOrDefault().Descripcion)
                @Html.Hidden("FechaRequisicion", Model.Requsiciones.FirstOrDefault().FechaRequisicion)
                @Html.Hidden("FechaEntrega", Model.Requsiciones.FirstOrDefault().FechaEntrega)
                @Html.Hidden("Comentarios", Model.Requsiciones.FirstOrDefault().Comentarios)
                @Html.Hidden("PrioridadId", Model.Requsiciones.FirstOrDefault().PrioridadId)

                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal">&times;</button>
                    <h3 class="modal-title">Eliminar Requisicion</h3>
                </div>
                <div class="modal-body">
                    <p>Esta seguro que desea eliminar esta requisicion?</p>
                    <br />
                    <p>@Html.CheckBox("Permanente", false) Eliminar de manera permanente.</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Si, deseo eliminarla." />
                    <button type="button" class="btn btn-default" data-dissmiss="modal">No, deseo conservarla.</button>
                </div>
            }
        </div>
    </div>
</div>