@model App.ViewModels.FormularioRequisicion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int Numero = 0;
    decimal SubTotal = 0;
    decimal Total = 0;
    decimal GranSubTotal = 0;
    decimal GranTotal = 0;
}

<h1></h1>
@using (Html.BeginForm("Edit", "Requisition", FormMethod.Post))
{
    @Html.Hidden("MonedaId", Model.Requsiciones.FirstOrDefault().MonedaId)
    @Html.Hidden("Descripcion", Model.Requsiciones.FirstOrDefault().Descripcion)
    @Html.Hidden("FechaEntrega", Model.Requsiciones.FirstOrDefault().FechaEntrega)
    @Html.Hidden("Comentarios", Model.Requsiciones.FirstOrDefault().Comentarios)
    @Html.Hidden("PrioridadId", Model.Requsiciones.FirstOrDefault().PrioridadId)
    @Html.Hidden("Activo", Model.Requsiciones.FirstOrDefault().Activo)

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2 pull-left">
                    <h1 class="panel-title">Requisicion</h1>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div style="margin-top:40px; margin-bottom:40px;" class="container">
                        <label>AQUI VA EL LOGO</label>
                    </div>
                </div>
                <div class="col-md-9">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Creado por: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().CreadoPor</p>
                                @Html.Hidden("CreadoPor", Model.Requsiciones.FirstOrDefault().CreadoPor)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Fecha de Creacion: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().Creado.ToShortDateString()</p>
                                @Html.Hidden("Creado", Model.Requsiciones.FirstOrDefault().Creado)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Departamento: </label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="selectContainer">
                                        <select style="width:100%;" name="Departamento">
                                            <option value="@Model.Requsiciones.FirstOrDefault().Departamento.Nombre">@Model.Requsiciones.FirstOrDefault().Departamento.Id - @Model.Requsiciones.FirstOrDefault().Departamento.Nombre</option>
                                            @foreach (var item in Model.Departamentos)
                                            {
                                                if (item.Nombre == @Model.Requsiciones.FirstOrDefault().Departamento.Nombre)
                                                {
                                                    continue;
                                                }

                                                <option value="@Html.DisplayFor(modelItem => item.Nombre)">@Html.DisplayFor(modelItem => item.Id) - @Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Actualizado por: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().ActualizadoPor</p>
                                @Html.Hidden("ActualizadoPor", Model.Requsiciones.FirstOrDefault().ActualizadoPor)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Fecha de Actualizacion: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().Actualizado.ToShortDateString()</p>
                                @Html.Hidden("Actualizado", Model.Requsiciones.FirstOrDefault().Actualizado)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>No. Requisicion: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().Id</p>
                                @Html.Hidden("ReqId", Model.Requsiciones.FirstOrDefault().Id)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Proveedor: </label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="selectContainer">
                                        <select style="width:100%;" name="Proveedor">
                                            <option value="@Model.Requsiciones.FirstOrDefault().Proveedor.Nombre">@Model.Requsiciones.FirstOrDefault().Proveedor.Nombre</option>
                                            @foreach (var item in Model.Proveedores)
                                            {
                                                if (item.Nombre == @Model.Requsiciones.FirstOrDefault().Proveedor.Nombre)
                                                {
                                                    continue;
                                                }

                                                <option value="@Html.DisplayFor(modelItem => item.Nombre)">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Fecha de Requisicion: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().FechaRequisicion.ToShortDateString()</p>
                                @Html.Hidden("FechaRequisicion", Model.Requsiciones.FirstOrDefault().FechaRequisicion)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Estatus: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().Estatus.Nombre</p>
                                @Html.Hidden("EstatusId", Model.Requsiciones.FirstOrDefault().EstatusId)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Periodo: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requsiciones.FirstOrDefault().Periodo.Nombre</p>
                                @Html.Hidden("PeriodoId", Model.Requsiciones.FirstOrDefault().PeriodoId)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Total de Requisicion: </label>
                            </div>
                            <div class="col-md-2">
                                <p>$ @Math.Round(Model.Requsiciones.FirstOrDefault().GranTotal, 2)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table style="margin-top: 30px; margin-bottom: 20px;" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                No. Linea
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio Venta
                            </th>
                            <th>
                                Subtotal
                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Lineas)
                        {
                            Numero++;
                            SubTotal = item.Cantidad * item.PrecioVenta;
                            Total = SubTotal + (SubTotal * item.Requisicion.Interes);

                            <tr class="getRow" getLineaId="@Html.DisplayFor(modelItem => item.Id)"
                                getReqId="@Html.DisplayFor(modelItem => item.RequisicionId)"
                                getLinea="@Html.DisplayFor(modelItem => item.Linea)"
                                getParteId="@Html.DisplayFor(modelItem => item.ParteId)"
                                getCantidad="@Html.DisplayFor(modelIten => item.Cantidad)"
                                getPrecioVenta="@Html.DisplayFor(modelItem => item.PrecioVenta)"
                                getDescripcion="@Html.DisplayFor(modelItem => item.Descripcion)"
                                getCreadoPor="@Html.DisplayFor(modelItem => item.CreadoPor)"
                                getCreado="@Html.DisplayFor(modelItem => item.Creado)">
                                <td>
                                    @Numero
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>
                                <td>
                                    $ @Html.DisplayFor(modelItem => item.PrecioVenta)
                                </td>
                                <td>
                                    $ @Math.Round(SubTotal, 2)
                                </td>
                                <td>
                                    $ @Math.Round(Total, 2)
                                </td>
                                <td>
                                    <a href="#EditLine" data-toggle="modal" data-target="#EditLineModal"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <a href="#DeleteLine" data-toggle="modal" data-target="#DeleteLineModal"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>

                            GranSubTotal = GranSubTotal + SubTotal;
                            GranTotal = GranTotal + Total;
                        }
                        @Html.Hidden("TotalLineas", Numero)
                        @Html.Hidden("SubTotal", GranSubTotal)
                        @Html.Hidden("GranTotal", GranTotal)
                    </tbody>
                </table>
            </div>
            <div style="margin-bottom: 50px;" class="row">
                <div class="col-md-6 pull-left">
                    <a href="#AddLine" class="btn-sm btn-primary" data-toggle="modal" data-target="#AddLineModal"><span class="glyphicon glyphicon-plus-sign"></span> Agregar nueva linea</a>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 pull-right">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("Details", "Requisition", new { id = Model.Requsiciones.FirstOrDefault().Id })" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                </div>
            </div>
        </div>
    </div>
}

@{ Html.RenderPartial("~/Views/Requisition/Partials/_AddLineModal.cshtml"); }
@{ Html.RenderPartial("~/Views/Requisition/Partials/_EditLineModal.cshtml"); }
@{ Html.RenderPartial("~/Views/Requisition/Partials/_DeleteLineModal.cshtml"); }