@model App.ViewModels.RequisitionForm

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int Number = 0;
    decimal SubTotal = 0;
    decimal Total = 0;
    decimal GreatSubTotal = 0;
    decimal GreatTotal = 0;
}

<h1></h1>
@using (Html.BeginForm("Edit", "Requisition", FormMethod.Post))
{
    @Html.Hidden("PriorityId", Model.Requisitions.FirstOrDefault().PriorityId)
    @Html.Hidden("Active", Model.Requisitions.FirstOrDefault().Active)
    @Html.Hidden("Interest", Model.Requisitions.FirstOrDefault().Interest)
    @Html.Hidden("DeliveryDate", Model.Requisitions.FirstOrDefault().DeliveryDate)
    @Html.Hidden("Description", Model.Requisitions.FirstOrDefault().Description)
    @Html.Hidden("Commentaries", Model.Requisitions.FirstOrDefault().Commentaries)

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2 pull-left">
                    <h1 class="panel-title">Requisicion</h1>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div style="margin-top:40px; margin-bottom:40px;" class="container">
                        <label>AQUI VA EL LOGO</label>
                    </div>
                </div>
                <div class="col-md-9">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Created By: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().CreatedBy</p>
                                @Html.Hidden("CreatedBy", Model.Requisitions.FirstOrDefault().CreatedBy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Creation Date: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().Created.ToShortDateString()</p>
                                @Html.Hidden("Created", Model.Requisitions.FirstOrDefault().Created)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Department: </label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="selectContainer">
                                        <select style="width:100%;" name="DepartmentId">
                                            <option value="@Model.Requisitions.FirstOrDefault().Department.Id">@Model.Requisitions.FirstOrDefault().Department.Id - @Model.Requisitions.FirstOrDefault().Department.Name</option>
                                            @foreach (var item in Model.Departments)
                                            {
                                                if (item.Name == @Model.Requisitions.FirstOrDefault().Department.Name)
                                                {
                                                    continue;
                                                }

                                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Id) - @Html.DisplayFor(modelItem => item.Name)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Updated By: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().UpdatedBy</p>
                                @Html.Hidden("UpdatedBy", Model.Requisitions.FirstOrDefault().UpdatedBy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Update Date: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().Updated.ToShortDateString()</p>
                                @Html.Hidden("Updated", Model.Requisitions.FirstOrDefault().Updated)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <label>No. Requisition: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().Id</p>
                                @Html.Hidden("RequisitionId", Model.Requisitions.FirstOrDefault().Id)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Supplier: </label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="selectContainer">
                                        <select style="width:100%;" name="SupplierId">
                                            <option value="@Model.Requisitions.FirstOrDefault().Supplier.Id">@Model.Requisitions.FirstOrDefault().Supplier.Name</option>
                                            @foreach (var item in Model.Suppliers)
                                            {
                                                if (item.Name == @Model.Requisitions.FirstOrDefault().Supplier.Name)
                                                {
                                                    continue;
                                                }

                                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Requisition Date: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().RequisitionDate.ToShortDateString()</p>
                                @Html.Hidden("RequisitionDate", Model.Requisitions.FirstOrDefault().RequisitionDate)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Status: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().Status.Name</p>
                                @Html.Hidden("StatusId", Model.Requisitions.FirstOrDefault().StatusId)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Period: </label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Requisitions.FirstOrDefault().Period.Name</p>
                                @Html.Hidden("PeriodId", Model.Requisitions.FirstOrDefault().PeriodId)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Total: </label>
                            </div>
                            <div class="col-md-2">
                                <p>$ @Math.Round(Model.Requisitions.FirstOrDefault().Total, 2)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table style="margin-top: 30px; margin-bottom: 20px;" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                No. Line
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Sale Price
                            </th>
                            <th>
                                Subtotal
                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Lines)
                        {
                            Number++;
                            SubTotal = item.Quantity * item.SalePrice;
                            Total = SubTotal + (SubTotal * item.Requisition.Interest);

                            <tr class="getRow" getLineId="@Html.DisplayFor(modelItem => item.Id)"
                                getReqId="@Html.DisplayFor(modelItem => item.RequisitionId)"
                                getProductId="@Html.DisplayFor(modelItem => item.ProductId)"
                                getLine="@Html.DisplayFor(modelItem => item.Line)"
                                getQuantity="@Html.DisplayFor(modelIten => item.Quantity)"
                                getSalePrice="@Html.DisplayFor(modelItem => item.SalePrice)"
                                getDescription="@Html.DisplayFor(modelItem => item.Description)"
                                getCreatedBy="@Html.DisplayFor(modelItem => item.CreatedBy)"
                                getCreated="@Html.DisplayFor(modelItem => item.Created)">
                                <td>
                                    @Number
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    $ @Html.DisplayFor(modelItem => item.SalePrice)
                                </td>
                                <td>
                                    $ @Math.Round(SubTotal, 2)
                                </td>
                                <td>
                                    $ @Math.Round(Total, 2)
                                </td>
                                <td>
                                    <a href="#EditLine" data-toggle="modal" data-target="#EditLineModal"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <a href="#DeleteLine" data-toggle="modal" data-target="#DeleteLineModal"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>

                            GreatSubTotal = GreatSubTotal + SubTotal;
                            GreatTotal = GreatTotal + Total;
                        }
                        @Html.Hidden("TotalLines", Number)
                        @Html.Hidden("SubTotal", GreatSubTotal)
                        @Html.Hidden("Total", GreatTotal)
                    </tbody>
                </table>
            </div>
            <div style="margin-bottom: 50px;" class="row">
                <div class="col-md-6 pull-left">
                    <a href="#AddLine" class="btn-sm btn-primary" data-toggle="modal" data-target="#AddLineModal"><span class="glyphicon glyphicon-plus-sign"></span> Agregar nueva linea</a>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <label>Nombre</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <label>Firma</label>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 pull-right">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("Details", "Requisition", new { id = Model.Requisitions.FirstOrDefault().Id })" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                </div>
            </div>
        </div>
    </div>
}

@{ Html.RenderPartial("~/Views/Requisition/Partials/_AddLineModal.cshtml"); }
@*@{ Html.RenderPartial("~/Views/Requisition/Partials/_EditLineModal.cshtml"); }*@
@{ Html.RenderPartial("~/Views/Requisition/Partials/_DeleteLineModal.cshtml"); }