@model App.ViewModels.RequisitionForm

<div id="AddLineModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="transform:translate(0px,50px);">
            @using (Html.BeginForm("Add", "RequisitionLine", FormMethod.Post))
            {
                @Html.Hidden("RequisitionId", Model.Requisitions.FirstOrDefault().Id)
                int NoLinea = Model.Requisitions.FirstOrDefault().Lines.Where(w => w.RequisitionId == Model.Requisitions.FirstOrDefault().Id).Count() + 1;

                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal">&times;</button>
                    <h3 class="modal-title">New Line</h3>
                </div>
                <div class="modal-body">
                    <p class="text-danger">All fields are required*</p>
                    <br />
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Line:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" style="width:100%;" value="@NoLinea" name="Line" readonly disabled/>
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Product:</label>
                        </div>
                        <div class="col-md-7">
                            <div class="selectContainer">
                                <select class="getValue getCostPrice getProductName" style="width:100%;" name="Price">
                                    <option value="">- Select a Product -</option>
                                    @foreach (var item in Model.Products)
                                    {
                                        <option value="@Html.DisplayFor(modelItem => item.CostPrice)">@Html.DisplayFor(modelItem => item.Name)</option>
                                    }
                                </select>
                            </div>
                            <input type="hidden" class="product" value="" name="Product" readonly />
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Quantity:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" style="width:100%;" value="" name="Quantity" />
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Price:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="costPrice" style="width:100%;" value="" readonly disabled/>
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Description:</label>
                        </div>
                        <div class="col-md-7">
                            @Html.TextArea("Description", htmlAttributes: new { @class = "input-text-lg" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
                    <a href="@Url.Action("Edit", "Requisition", new { id = Model.Requisitions.FirstOrDefault().Id })" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                </div>
            }
        </div>
    </div>
</div>