@model App.ViewModels.RequisitionForm

<div id="DeleteReqModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="transform:translate(0px,50px);">
            @using (Html.BeginForm("Delete", "Requisition", FormMethod.Post))
            {
                @Html.Hidden("RequisitionId", Model.Requisitions.FirstOrDefault().Id)
                @Html.Hidden("PeriodId", Model.Requisitions.FirstOrDefault().PeriodId)
                @Html.Hidden("DepartmentId", Model.Requisitions.FirstOrDefault().DepartmentId)
                @Html.Hidden("SupplierId", Model.Requisitions.FirstOrDefault().SupplierId)
                @Html.Hidden("StatusId", Model.Requisitions.FirstOrDefault().StatusId)
                @Html.Hidden("PriorityId", Model.Requisitions.FirstOrDefault().PriorityId)
                @Html.Hidden("TotalLines", Model.Requisitions.FirstOrDefault().TotalLines)
                @Html.Hidden("SubTotal", Model.Requisitions.FirstOrDefault().SubTotal)
                @Html.Hidden("Interest", Model.Requisitions.FirstOrDefault().Interest)
                @Html.Hidden("Total", Model.Requisitions.FirstOrDefault().Total)
                @Html.Hidden("RequisitionDate", Model.Requisitions.FirstOrDefault().RequisitionDate)
                @Html.Hidden("DeliveryDate", Model.Requisitions.FirstOrDefault().DeliveryDate)
                @Html.Hidden("Description", Model.Requisitions.FirstOrDefault().Description)
                @Html.Hidden("Commentaries", Model.Requisitions.FirstOrDefault().Commentaries)
                @Html.Hidden("CreatedBy", Model.Requisitions.FirstOrDefault().CreatedBy)
                @Html.Hidden("Created", Model.Requisitions.FirstOrDefault().Created)
                @Html.Hidden("UpdatedBy", Model.Requisitions.FirstOrDefault().UpdatedBy)
                @Html.Hidden("Updated", Model.Requisitions.FirstOrDefault().Updated)

                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal">&times;</button>
                    <h3 class="modal-title">Delete Requisition</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure that want to delete this requisition?</p>
                    <br />
                    <p>@Html.CheckBox("Permanent", false) Delete permanently.</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Yes, I want delete it" />
                    <button type="button" class="btn btn-default" data-dissmiss="modal">No, I won't delete it</button>
                </div>
            }
        </div>
    </div>
</div>