@model App.ViewModels.RequisitionForm

<div id="EditLineModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="transform:translate(0px,50px);">
            @using (Html.BeginForm("Edit", "RequisitionLine", FormMethod.Post))
            {
                <input type="hidden" value="" class="lineId" name="LineId" readonly />
                <input type="hidden" value="" class="reqId" name="RequisitionId" readonly />
                <input type="hidden" value="" class="line" name="Line" readonly />
                <input type="hidden" value="" class="createdBy" name="CreatedBy" readonly />
                <input type="hidden" value="" class="created" name="Created" readonly />

                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal">&times;</button>
                    <h3 class="modal-title">Edit Line</h3>
                </div>
                <div class="modal-body">
                    <p class="text-danger">All fields are required*</p>
                    <br />
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>No. Line:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="lineId" style="width:100%;" value="" disabled/>
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Line:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="line" style="width:100%;" value="" disabled />
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Product:</label>
                        </div>
                        <div class="col-md-7">
                            <div class="selectContainer">
                                <select class="getEditValue getEditCostPrice getEditProductName" style="width:100%;" name="Price">
                                    <option value="@Model.Products.LastOrDefault().CostPrice">- Select a Product -</option>
                                    @foreach (var item in Model.Products)
                                    {
                                        <option value="@Html.DisplayFor(modelItem => item.CostPrice)">@Html.DisplayFor(modelItem => item.Name)</option>
                                    }
                                </select>
                            </div>
                            <input type="hidden" class="productId" value="" name="ProductId" readonly />
                            <input type="hidden" class="editProduct" value="" name="Product" readonly />
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Quantity:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="quantity" style="width:100%;" value="" name="Quantity" />
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Price:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="editCostPrice" style="width:100%;" value="" readonly disabled />
                        </div>
                    </div>
                    <div class="row margin-height">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label>Description:</label>
                        </div>
                        <div class="col-md-7">
                            @Html.TextArea("Description", htmlAttributes: new { @class = "input-text-lg description" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
                    <a href="@Url.Action("Edit", "Requisition", new { id = Model.Requisitions.FirstOrDefault().Id })" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                </div>
            }
        </div>
    </div>
</div>